<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- link css -->
    <link rel="stylesheet" href="./css/styles.css">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <title>vue-todolist</title>
</head>
<body>
    <div id="app">
        <section class="logo">
            <h1>Daily list</h1>
        </section>
        <section class="imput">
            <input type="text" placeholder="write your activity" v-model="activity" @keyup.enter="aggiungi">
            <button @click="aggiungi">add</button>
        </section>
        <section class="list">
            <div class="container">
                <ul v-if="(list.length > 0)">
                    <li v-for='(attivita, indice) in list'><p>{{ attivita }}</p> <span><i @click='remove(indice)' class="fas fa-times"></i></span></li>
                </ul>
                <h2 v-else="">add activities</h2>
            </div>
        </section>
    </div>
    <!-- javascript -->
    <script src="./javascript/main.js"></script>
</body>
</html>